In [1]:
import pandas as pd 
import numpy as np

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/budget_data.csv"

# Read Purchasing File and store into Pandas data frame
budget_data_pd = pd.read_csv(file_to_load)
budget_data_pd.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [3]:
rowcount = budget_data_pd["Date"].count()
print("The total number of months is: " + str(rowcount))

The total number of months is: 86

In [4]:
nettotal = budget_data_pd["Profit/Losses"].sum()
nettotal
print("The net total Profit/Losses is: $" + str(nettotal))

The net total Profit/Losses is: $38382578

In [5]:
budget_data_pd["Previous"] = budget_data_pd["Profit/Losses"].shift(+1)
budget_data_pd.head()

     Date  Profit/Losses  Previous
0  Jan-10         867884       NaN
1  Feb-10         984655  867884.0
2  Mar-10         322013  984655.0
3  Apr-10         -69417  322013.0
4  May-10         310503  -69417.0

In [6]:
budget_data_pd["Change"] = budget_data_pd["Profit/Losses"] - budget_data_pd["Previous"]
budget_data_pd.head()

     Date  Profit/Losses  Previous    Change
0  Jan-10         867884       NaN       NaN
1  Feb-10         984655  867884.0  116771.0
2  Mar-10         322013  984655.0 -662642.0
3  Apr-10         -69417  322013.0 -391430.0
4  May-10         310503  -69417.0  379920.0

In [7]:
budget_data_pd.describe(include = np.number)

       Profit/Losses      Previous        Change
count   8.600000e+01  8.500000e+01  8.500000e+01
mean    4.463090e+05  4.436645e+05 -2.315118e+03
std     5.363579e+05  5.389768e+05  7.634372e+05
min    -1.196225e+06 -1.196225e+06 -2.196167e+06
25%     1.821620e+05  1.586200e+05 -3.686650e+05
50%     5.703280e+05  5.698990e+05  7.724200e+04
75%     7.952262e+05  7.959140e+05  3.983190e+05
max     1.170593e+06  1.170593e+06  1.926159e+06

In [8]:
max_inc_profits = budget_data_pd.sort_values("Change", ascending=False)
max_inc_profits.head()

      Date  Profit/Losses   Previous     Change
25  Feb-12        1170593  -755566.0  1926159.0
47  Dec-13        1150461  -687986.0  1838447.0
79  Aug-16         569899 -1163797.0  1733696.0
32  Sep-12         475062 -1022534.0  1497596.0
45  Oct-13         268997 -1196225.0  1465222.0

In [9]:
max_dec_profits = budget_data_pd.sort_values("Change")
max_dec_profits.head()

      Date  Profit/Losses  Previous     Change
44  Sep-13       -1196225  999942.0 -2196167.0
78  Jul-16       -1163797  712961.0 -1876758.0
73  Feb-16       -1100387  650000.0 -1750387.0
31  Aug-12       -1022534  506702.0 -1529236.0
63  Apr-15        -524626  687533.0 -1212159.0

In [10]:
print("FINANCIAL ANALYSIS")
print("Total Months: 86")
print("Total: $38,382,578")
print("Avarage Change: $-2,315.12")
print("Greatest Increase in Profits: Feb-2012 ($1,926,159)")
print("Greatest Decrease in Profits: Sep-2013 ($2,196,167)")

FINANCIAL ANALYSIS
Total Months: 86
Total: $38,382,578
Avarage Change: $-2,315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159)
Greatest Decrease in Profits: Sep-2013 ($2,196,167)

In [11]:
cache = []
cache.append("FINANCIAL ANALYSIS")
cache.append("Total Months: 86")
cache.append("Total: $38,382,578")
cache.append("Avarage Change: $-2,315.12")
cache.append("Greatest Increase in Profits: Feb-2012 ($1,926,159)")
cache.append("Greatest Decrease in Profits: Sep-2013 ($2,196,167)")


with open('output.txt', 'w') as output:
  for line in cache:
      output.write("%s\n" % line)