In [17]:
import pandas as pd 
import numpy as np

In [18]:
election_csvpath = "Resources/election_data.csv"


election_data_df = pd.read_csv(election_csvpath)
election_data_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [19]:
vote_count = election_data_df["Voter ID"].count()
print(str(vote_count))

3521001

In [20]:
election_data_df = election_data_df.set_index("Candidate")
election_data_df.head()

           Voter ID County
Candidate
Khan       12864552  Marsh
Correy     17444633  Marsh
Khan       19330107  Marsh
Khan       19865775  Queen
Khan       11927875  Marsh

           Voter ID
count  3.521001e+06
mean   1.500082e+07
std    2.886765e+06
min    1.000000e+07
25%    1.250072e+07
50%    1.500198e+07
75%    1.750010e+07
max    2.000000e+07